<h1>List of Images</h1>

<tbody>
  <tr>
    <% @images.each do |image| %>
    <td><img src="<%= image.picture %>" ></td> 
    <% end %>
  </tr>
</tbody>

 <%= button_to "Create Image", new_admin_image_path, method: :get %>